# Title
by: Jessie Liang, Jennifer Tsang

In [1]:
import pandas as pd
import numpy as np

In [24]:
items = pd.read_csv("data/items.csv")
original_sales = pd.read_csv("data/sales.csv")

In [25]:
items['revenue'] = items['price'] - items['production_cost']
items

,item_name,price,production_cost,item_type,drink_temperature,drink_type,revenue
0,Espresso,3.00,0.80,Drink,Hot,Coffee,2.20
1,Americano,3.50,1.00,Drink,Hot,Coffee,2.50
2,Latte,4.50,1.20,Drink,Hot,Coffee,3.30
3,Cappuccino,4.25,1.15,Drink,Hot,Coffee,3.10
4,Flat White,4.75,1.25,Drink,Hot,Coffee,3.50
5,Mocha,4.80,1.40,Drink,Hot,Coffee,3.40
6,Iced Coffee,4.00,1.10,Drink,Cold,Coffee,2.90
7,Cold Brew,4.75,1.35,Drink,Cold,Coffee,3.40
8,Iced Latte,4.60,1.25,Drink,Cold,Coffee,3.35
9,Iced Matcha Latte,5.25,1.60,Drink,Cold,Tea,3.65
10,Matcha Latte,5.25,1.60,Drink,Hot,Tea,3.65
11,Chai Latte,4.90,1.50,Drink,Hot,Tea,3.40
12,Green Tea,2.90,0.20,Drink,Hot,Tea,2.70
13,Hot Chocolate,4.25,1.10,Drink,Hot,Other,3.15
14,Reusable Coffee Cup,15.00,6.00,Merchandise,NaN,NaN,9.00
15,Tote Bag,12.00,4.00,Merchandise,NaN,NaN,8.00
16,Coffee Beans (1 lb),18.00,8.00,Merchandise,NaN,NaN,10.00

In [26]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   item_name          17 non-null     object
 1   price              17 non-null     float64
 2   production_cost    17 non-null     float64
 3   item_type          17 non-null     object
 4   drink_temperature  14 non-null     object
 5   drink_type         14 non-null     object
 6   revenue            17 non-null     float64
dtypes: float64(3), object(4)
memory usage: 1.1+ KB

In [27]:
sales = pd.merge(original_sales, items[['item_name', 'revenue']], how='inner', on='item_name')
sales

,date,time,item_name,transaction_type,own_cup,surcharge,customer_id,revenue
0,2022-01-01,07:03:30,Cold Brew,Takeout,True,False,26946,3.40
1,2022-01-01,07:30:58,Iced Coffee,Takeout,True,False,24356,2.90
2,2022-01-01,08:32:23,Iced Latte,Takeout,False,False,3760,3.35
3,2022-01-01,08:45:03,Latte,Dine-in,True,False,5900,3.30
4,2022-01-01,09:03:47,Latte,Takeout,False,False,11589,3.30
...,...,...,...,...,...,...,...,...
32600,2024-12-31,14:07:18,Green Tea,Dine-in,False,False,21936,2.70
32601,2024-12-31,14:24:08,Latte,Takeout,True,False,15914,3.30
32602,2024-12-31,14:36:31,Chai Latte,Dine-in,True,False,15227,3.40
32603,2024-12-31,14:57:19,Cappuccino,Takeout,True,False,21314,3.10
32604,2024-12-31,15:30:12,Espresso,Dine-in,False,False,11063,2.20

In [28]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32605 entries, 0 to 32604
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              32605 non-null  object
 1   time              32605 non-null  object
 2   item_name         32605 non-null  object
 3   transaction_type  32605 non-null  object
 4   own_cup           30461 non-null  object
 5   surcharge         32605 non-null  bool
 6   customer_id       32605 non-null  int64
 7   revenue           32605 non-null  float64
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 1.8+ MB

In [9]:
sales['own_cup'].value_counts()

own_cup
False    17194
True     13267
Name: count, dtype: int64